
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Art For All</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<div class="jumbotron">
    <div class="container text-center">
        <h6 align="right" id="log"></h6>
        <h1>Art For All</h1>
        <p>Mission, Vission & Values</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/artadvisory">Art Advisory</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" onclick="return x()"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                <li><a href="/signin" onclick="return x()"><span class="glyphicon glyphicon-user"></span> Create Account</a></li>
                <li><a href="/cart" class="btn btn-primary" aria-label="View 3 items in your shopping cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="b3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"><h1 class="title-heading"> Contact Us</h1></div>
        </div>
        <hr>
        <h4>
            <strong>
                Contact us through phone
            </strong><br></h4>
        <p>+91 7507000236, +91 20 66200972</p>
        <p>10.00 A.M to 06.30 P.M (Monday to Friday)</p>
        <p>10.00 A.M to 04.00 P.M (Saturday)</p>
        <p>Off on Sunday.</p><br>
        <h4>
            <strong>Contact us via email</strong><br>
        </h4>
        <p>You may write to us at sales@artforall.com. We usually reply within 1 working day.</p><br>
        <h4>
            <strong>Contact us on chat</strong><br>
        </h4>
        <p>You may contact us on chat at right bottom section. (during business hours).</p><br>
        <h4>
            <strong>Visit us in person</strong><br>
        </h4>
        <p>Fizdi Ecommerce Pvt. Ltd., 220, Dhan Ganga Collidium Commercial Center Phase - 1, Near Ganga Dham Chowk,
            Market Yard, Pune, Maharashtra, India - 411037.</p><br>

    </div>


</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-header">About Us</h3>
                <h4 class="hd-title">Art For All is the world’s leading online art gallery, connecting people with art and artists they love.</h4>
                <p>Art For All offers an unparalleled selection of paintings, drawings, sculpture and photography in a range of prices, and it provides artists from around the world with an expertly curated environment in which to exhibit and sell their work.</p>
                <p>Based in Mumbai, Art For All is redefining the experience of buying and selling art by making it easy, convenient and welcoming for both collectors and artists.</p>
            </div>
            <div class="col-md-3">
                <h4 class="panel-heading">Company</h4>
                <ul id="li2" class="align-vertical">
                    <li>Licence</li><br>
                    <li>Blog</li><br>
                    <li>About Us</li><br>
                    <li>About</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="panel-heading">Follow Us</h4>
                <ul id="li1" class="align-vertical">
                    <li>
                        <a class="fb" href="https://www.facebook.com"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i>       Facebook</a>
                    </li><br>
                    <li>
                        <a class="twitter" href="https://twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> Twitter</a>
                    </li><br>
                    <li>
                        <a class="pinterest" href="https://www.pinterest.com"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i> Pinterest</a>
                    </li><br>
                    <li>
                        <a class="dribbble" href="https://www.dribbble.com"><i class="fa fa-dribbble fa-2x" aria-hidden="true"></i> Dribbble</a>
                    </li><br>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>
    r();
    function r(){
        var x="<%=msg%>";
        if("<%=msg%>")
        {document.getElementById("log").innerHTML="<li>You are login as "+x+"--<a href='logout' onclick='return z()'>Logout</a></li>";}
    }
    function x(){
        var m ="<%=msg%>";
        if(m)
        {alert("You need to logout first");return false;}
    }
    function z(){
        if (confirm("Sure to exist???") === true) {
            return true;
        } else {
            return false;
        }
    }
</script>

</body>
</html>
